div > span:nth-child(2) {
    display: block;
    color: #59687f;
    font-weight: bold;
    padding: 5px 0;
}
.value-positive {
	color: #28a745 !important;
}
.value-negative {
	color: #dc3545 !important;
}