@keyframes placeHolderShimmer {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10000px 0;
    }
}
.animated-background {
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #cccccc 18%, #eeeeee 33%);
    height: 42px;
    position: relative;
}
.background-masker {
    background: #fff;
    position: absolute;
}
.background-masker.content-first-line {
    height: 15px;
    top: 15px;
    left: 0;
    right: 0;
}